 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.nav3hideon {
  display: block;
}

.sixty-six {
  display: none;
}

.navigation {
  display: none;
}

.nav1o, .nav201 {
  display: none;
}

.nav1 .hammer {
  display: flex;
  color: rgb(22, 19, 19);
}


.box {
  display: grid;
  grid-template-rows: 30%, 25%, 25%, 25%, 30%,;
  padding-bottom: 5rem;
  max-width: 100%;
  grid-row-gap: 5rem;
}

.mainest {
  background: linear-gradient(rgba(255, 255, 255, 0.836), white), url(./images/students-computer.jpg);
  background-blend-mode: luminosity;
  width: 100%;
  z-index: 4;
  background-size: 85vh;
  background-repeat: no-repeat;
}

.boxone h1 {
  color: #f44c06;
  width: 21rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

.smaller {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.biger {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 10vw;
  justify-content: center;
}

.bigscreening {
  display: none;
}

.first-first {
  border: 3px solid rgb(238, 229, 229);
  margin-left: 1rem;
  margin-top: 2rem;
  display: inline-block;
  margin-bottom: 2rem;
  width: 92%;
}

.first-paragraph {
  letter-spacing: 0.2px;
  color: #000;
  background-color: rgb(255, 255, 255, 1.5);
  padding: 0.5rem 0.5rem;
}

.questionaire {
  background-color: rgb(240, 238, 238);
}

.questionaire p {
  width: 25rem;
   padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.questionaire span {
  font-weight: 700;
  font-size: 16px;
  color: #000;
  padding-left: 20px;
  text-decoration: underline;
}

.globally h3 {
  width: 17rem;
  margin-left: 5rem;
}

.line {
  width: 3rem;
  border-color: #ed6242;
  margin-left: 9rem;
}

.globally p {
  width: 21rem;
  margin-left: 1rem;
  padding-top: 1.5rem;
}

.globaling {
  display: flex;
  border: 1px solid rgb(165, 159, 159);
  border-radius: 3px;
  width: 75%;
  margin-left: 2rem;
}

.nutritive {
  display: flex;
}

.globaling p {
  padding-left: 1rem;
  width: 20rem;
  padding-top: 0.5rem;
}

.globaling .year {
  padding-left: 4rem;
}

.globaling .day {
  font-weight: 400;
  font-size: 8px;
  border-top: 2px solid rgb(170, 160, 160);
  border-bottom: 2px solid rgb(170, 160, 160);
}

.second-second {
  display: grid;
  grid-template-rows: 25%, 75%;
  row-gap: 0.5rem;
}

.second-second h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: rgb(68, 63, 63);
  font-size: 1rem;
  margin: 0 auto;
}

.lineof {
  width: 30px;
  border-color: #ed6242;
  margin-left: 10rem;
}

.second-second p {
  width: 94vw;
  margin-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.lasting-image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blur-part {
  background-image: url("images/attendees1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  margin-left: 2.5vw;
  transition: all;
  transition-duration: 1s;
}

.blur-part-2 {
  background-image: url("images/med1.png");
  background-size: 95vw;
  background-repeat: no-repeat;
  color: #fff;
  margin-left: 3.5vw;
  transition: all;
  transition-duration: 1s;
}

.color-blur {
  background-color: rgba(255, 60, 0, 0.5);
  padding: 77px;
}

.color-blur .one {
  position: relative;
  left: 15vw;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  top: -15vw;
}

.color-blur .two {
  position: relative;
  top: -21vw;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  left: -15vw;
}

.pushit .three {
  position: relative;
  left: 15vw;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  bottom: 13vw;
}

.lasting-image .four {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  right: 18vw;
  bottom: 18vw;
}

.partner-crime h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-left: 9rem;
}

.particulers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgb(44, 38, 38);
}

.particulers2 {
  width: 15vw;
  margin: 0.2rem;
}

.lineok {
  border-color: #ed6242;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 10rem;
}

.end1 {
  display: flex;
  justify-content: space-around;
}

.end1 img {
  width: 20%;
  position: absolute;
  height: 13vh;
  left: 1rem;
}

.end1 ul {
  list-style-type: none;
}

.end1 p {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 9px;
  width: 17rem;
  position: relative;
  padding-top: 2rem;
  left: 1rem;
}

.particulers2:hover,
.particulers2:focus {
  transform: scale(0.75);
  transition: 1s all ease-out;
  transition-duration: 1s;
  transition-delay: 0.1s;
}

@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
  }

  .nav3hideon {
    display: block;
  }
  
  .sixty-six {
    display: none;
  }
  
  .navigation {
    display: none;
  }
  
  .nav201 {
    display: block;
  }
  
  .nav1 .hammer {
    display: none;
  }
  
  .mainest {
    background: linear-gradient(rgba(255, 255, 255, 0.836), white), url(./images/students-computer.jpg);
    background-blend-mode: luminosity;
    width: 100vw;
    z-index: 4;
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .navlo {
    display: flex;
    background-color: rgb(22, 19, 19);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
    padding-right: 5.5rem;
  }

  .nav1o {
    display: flex;
  }

  .nav1 > .nav1a {
    display: flex;
    list-style-type: none;
  }

  .nav1a {
    padding-right: 1rem;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-size: 17px;
  }

  .nav1a a {
    color: #fff;
    text-decoration: none;
  }

  .nav2o {
    background-color: #fff;
  }

  .nav201 {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem
  }

  .navs21 a {
    text-decoration: none;
    color: rgb(22, 19, 19);
  }

  .navs21 {
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-size: 19px;
  }

  .nutrition {
    display: block;
  }

  .nav201 > .nutrition img {
    display: block;
    width: 4vw;
    position: absolute;
    left: 2rem;
  }

  .boxone h1 {
    display: none;
  }

  .box {
    display: grid;
    grid-template-rows: 30%, 25%, 25%, 25%, 30%,;
    padding-bottom: 5rem;
    max-width: 100%;
    grid-row-gap: 2px;
  }
  

  .bigscreening {
    display: block;
    color: rgb(243, 49, 49);
    font-weight: 700;
    font-size: 35px;
    width: 62vw;
    margin: 0 auto;
    padding-top: 3rem;
  }

  .first-first {
    border: 3px solid rgb(238, 229, 229);
    margin: 7rem;
    width: 75%;
  }

  .questionaire {
   
    margin-top: 10vw;
  }
  
  .questionaire p {
    width: 39rem;
    margin: 0 auto;
  }
  
  .questionaire span {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    padding-left: 11rem;
    text-decoration: underline;
  }

  .globally h3 {
    width: 25rem;
    margin: 0 auto;
  }
  
  .line {
    width: 3rem;
    border-color: #ed6242;
    margin: 0 auto;
  }

  .globally p {
    width: 37rem;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  
  .globaling {
    display: flex;
    border: 1px solid rgb(165, 159, 159);
    border-radius: 3px;
    width: 40%;
    margin: 0 auto;
  }

  .nutritive {
    display: flex;
    place-content: center;
  }
  
  .globaling p {
    width: 33vw;
    place-content: center;
  }

  .globaling .year {
    padding-left: 8vw;
  }
  
  .globaling .day {
    font-weight: 400;
    font-size: 8px;
    border-top: 2px solid rgb(170, 160, 160);
    border-bottom: 2px solid rgb(170, 160, 160);
  }

  .second-second h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: rgb(68, 63, 63);
    font-size: 1.5rem;
    margin: 0 auto;
  }
  
  .lineof {
    width: 5rem;
    border-color: #ed6242;
    margin: 0 auto;
  }

  .second-second p {
    width: 94vw;
    margin: 0 auto;
  }

  .lasting-image {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .blur-part {
    background-image: url("images/attendees1.jpg");
    background-size: 40vw;
    background-repeat: no-repeat;
    color: #fff;
    margin-left: 2.5vw;
    transition: all;
    transition-duration: 1s;
  }
  
  .blur-part-2 {
    background-image: url("images/med1.png");
    background-size: 40vw;
    background-repeat: no-repeat;
    color: #fff;
    margin-left: 3.5vw;
    transition: all;
    transition-duration: 1s;
  }

  .color-blur {
    background-color: rgba(255, 60, 0, 0.5);
    padding: 77px;
  }

  .partner-crime {
    display: none;
  }
  

  /* .last-lasting {
   
    width: 85%;
    opacity: 0.4;
    
  } */
  
  
  
  
  


}
  /* 

  body {
    width: 100%;
  }

  .nav3hideon {
    display: none;
  }

  .navigation {
    display: none;
  }

  .navlo {
    display: block;
  }

  .nav1o {
    display: flex;
  }

  .nav1a a {
    text-decoration: none;
    color: #fff;
  }

  .nav1a {
    color: #fff;
  }

  .nav1 {
    display: flex;
    background-color: rgb(22, 19, 19);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
    padding-right: 5.5rem;
  }

  .sixty-six {
    display: none;
  }

  .navlo2 {
    display: block;
    background-color: #fff;
    padding-bottom: 17px;
  }

  .nav201 {
    display: flex;
    list-style-type: none;
  }

  .nav201 > .navs21 {
    display: flex;
    padding-right: 1rem;
    padding-top: 10px;
  }

  .navs21 a {
    text-decoration: none;
    color: rgb(37, 34, 34);
  }

  .navlo2 > .nav2o {
    display: flex;
    display: flex;
    list-style-type: none;
    float: right;
    margin-right: 85px;
  }

  .nutrition {
    display: block;
  }

  .nav201 > .nutrition img {
    display: block;
    width: 45px;
    position: absolute;
    left: 75px;
  }

  .nav1 .hammer {
    display: none;
  }

  .navs21 a:hover {
    color: rgb(243, 49, 49);
    border: 2px solid rgb(243, 49, 49);
    padding: 2px 7px;
  }

  .mainest {
    background: linear-gradient(rgba(255, 255, 255, 0.836), white), url(./images/students-computer.jpg);
    background-blend-mode: luminosity;
    width: 100%;
    z-index: 4;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .boxone h1 {
    display: none;
  }

  .bigscreening {
    display: block;
    color: rgb(243, 49, 49);
    font-weight: 700;
    font-size: 35px;
    width: 62vw;
    margin-left: 22vw;
    padding-top: 2rem;
  }

  .first-first {
    border: none;
    margin-left: 6vw;
    justify-content: center;
    position: relative;
    left: 12vw;
  }

  .first-paragraph {
    padding-top: 10px;
    padding-bottom: 1rem;
    letter-spacing: 0.2px;
    width: 42.5rem;
    color: #000;
    background-color: rgb(255, 255, 255, 1.5);
  }

  .questionaire {
    background-color: rgb(240, 240, 240, 0.1);
  }

  .questionaire p {
    width: 48rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 17vw;
  }

  .questionaire span {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    padding-left: 11rem;
    text-decoration: underline;
  }

  .globally h3 {
    width: 25rem;
    margin-left: 27vw;
    position: relative;
    top: 4rem;
  }

  .line {
    position: relative;
    top: 3.5rem;
    border-color: #ed6242;
    margin-left: 22rem;
    width: 60px;
  }

  .globally p {
    width: 59vw;
    margin-left: 20vw;
    margin-top: 4rem;
    margin-bottom: 25px;
  }

  .globaling {
    display: flex;
    border: 1px solid rgb(165, 159, 159);
    border-radius: 3px;
    padding: 30px 30px;
    width: 40%;
    margin-left: 30vw;
  }

  .second-second h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: rgb(68, 63, 63);
    font-size: 19px;
    width: 25rem;
    padding-top: 1rem;
    padding-bottom: 5px;
    margin-left: 25vw;
  }

  .lineof {
    width: 30px;
    border-color: #ed6242;
    margin-left: 47vw;
  }

  .second-second p {
    width: 70vw;
    margin-left: 18vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lasting-image {
    display: flex;
  }

  .last-lasting {
    width: 39%;
    margin-left: 6vw;
    padding-top: 3rem;
    padding-bottom: 6rem;
    opacity: 0.4;
  }

  .lasting-image .one {
    position: absolute;
    left: -2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 35px;
    top: 63rem;
    color: rgb(88, 83, 83);
  }

  .lasting-image .two {
    position: absolute;
    top: 65.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: rgb(88, 83, 83);
    left: -2rem;
  }

  .lasting-image .three {
    position: absolute;
    left: 20rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 35px;
    top: 63rem;
    color: rgb(88, 83, 83);
  }

  .lasting-image .four {
    position: absolute;
    top: 65.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: rgb(88, 83, 83);
    left: 18rem;
  }

  .partner-crime {
    display: none;
  }

  .end {
    background-color: #272a31;
    width: 100%;
  }

  .end1 {
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
    justify-content: space-around;
    text-align: center;
    margin-left: 25px;
  }

  .end1 img {
    width: 50px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 26vw;
  }

  .end1 ul {
    list-style-type: none;
  }

  .end1 p {
    padding-top: 25px;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 30rem;
    color: #fff;
  }
} */
