* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.ham {
  color: rgb(22, 19, 19);
  position: fixed;
  display: flex;
}

.mainest {
  background: linear-gradient(rgba(255, 255, 255, 0.836), white), url(./images/students-computer.jpg);
  background-blend-mode: luminosity;
  width: 100%;
  z-index: 4;
  height: auto;
}

.box1 {
  position: relative;
}

.box1::before {
  background-image: url("images/students-computer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.nav21 {
  display: none;
}

.turn {
  display: none;
}

.nav1a {
  display: none;
}

.nutrition {
  display: none;
}

.box1 h1 {
  padding-top: 50px;
  margin-left: 20px;
  color: #f44c06;
  width: 80vw;
}

.small {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.big {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 10vw;
}

.first {
  border: 3px solid rgb(238, 229, 229);
  margin-left: 10px;
  display: inline-block;
}

.first-para {
  padding-top: 10px;
  padding-bottom: 15px;
  letter-spacing: 0.2px;
  padding-left: 15px;
  width: 21.5rem;
  color: #000;
  background-color: rgb(255, 255, 255);
}

.second {
  margin: 20px;
}

.second h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: rgb(68, 63, 63);
}

.second p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: rgb(68, 63, 63);
  margin-bottom: 30px;
}

.box2 {
  display: block;
  color: #fff;
  background-color: rgb(34, 31, 31);
}

h3 {
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-top: 1rem;
}

.box2 h3 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.box2ao {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

.main-pro-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  border-color: #ed6242;
  width: 50px;
  margin-bottom: 0.5rem;
}

.box2a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  border: 1px solid rgb(71, 65, 65);
  background-color: rgb(43, 40, 40);
  margin: 0.3rem 1rem;
  transition: all 1s ease-out;
}

.box2a-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0;
  margin: 0;
}

.fa-solid {
  font-size: 10vw;
}

.box2a h2 {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 4vw;
}

.box2a > p {
  text-align: start;
  font-size: 1rem;
  max-width: 40vw;
  height: auto;
}

.feature-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forum {
  margin-left: 15px;
}

.program {
  display: none;
}

.button {
  display: flex;
  margin: 0 auto;
  background-color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  padding: 10px;
  border: 1px solid rgb(224, 67, 10);
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover {
  border: 5px solid #fff;
  transition: s ease-out;
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.part2 {
  width: 15vw;
  margin: 0.2rem;
}

.part2:hover,
.part2:focus {
  transform: scale(0.75);
  transition: 1s all ease-out;
  transition-duration: 1s;
  transition-delay: 0.1s;
}

.box2a:hover,
.box2a:focus {
  border: 5px solid rgb(233, 230, 230);
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}

.partner {
  background-color: rgb(44, 38, 38);
}

.partner h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.image {
  width: 100px;
  height: 100px;
}

.image:hover,
.image:focus {
  border: 1px solid rgb(233, 230, 230);
  animation-delay: 0.5s;
  animation-duration: 2s;
  transition: all 1s ease-out;
  transform: scale(1.35);
}

.box3a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-top: 3rem;
}

.box3b {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 5px;
  width: 100%;
  padding: 0 1rem;
}

.box3b:nth-child(3),
.box3b:nth-child(4),
.box3b:nth-child(5),
.box3b:nth-child(6) {
  display: none;
}

.box3b img {
  width: 30vh;
}

.box3b h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: rgb(245, 141, 104);
}

.card h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 5vw;
}

.card h6 {
  max-width: 70vw;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 10px;
  font-style: italic;
}

.card p {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  padding-bottom: 1rem;
  max-height: 10rem;
  word-spacing: 0.2px;
}

.thirdline {
  width: 20px;
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.partnerHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.end {
  background-color: #fff;
}

.end1 img {
  width: 50px;
  height: 70px;
  margin-bottom: 20px;
}

.end2 img:hover,
.end2 img:focus {
  transform: translate(10px, 15%);
  transition: 2s all ease-in-out;
  transition-duration: 2s;
  transition-delay: 0.2s;
}

.secondline {
  border-color: #ed6242;
  width: 40px;
  margin-left: 220px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.see {
  display: block;
  border: 2px solid rgb(184, 175, 175);
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.see > .see-one {
  display: flex;
  gap: 1.5rem;
  margin-left: 7.5rem;
}

.see-one:nth-child(1) {
  font-weight: 700;
  font-size: 25px;
  padding-top: 8px;
}

.see .fa-angle-down {
  color: #ec5242;
}

.end1 {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: space-between;
  text-align: center;
  margin-left: 25px;
  margin-right: 10px;
}

.end1 ul {
  list-style-type: none;
}

.end1 p {
  padding-top: 55px;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 9px;
  width: 17rem;
}

.nav3hide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  left: -100vw;
  height: 100vh;
  justify-content: center;
  z-index: 100;
  transition: 1s ease-out;
}

.nav3hide .markx {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav3hide ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav3hide ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #ham {
    display: none;
  }

  .mainest {
    background-image: url("images/students-computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .nav3hide {
    display: none;
  }

  .nav1 {
    margin-left: -10px;
  }

  .nav1a {
    display: flex;
    padding-right: 20px;
  }

  .nav1a a {
    text-decoration: none;
    color: #fff;
  }

  .nav {
    display: flex;
    background-color: rgb(22, 19, 19);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
    padding-right: 5.5rem;
  }

  .nav1 > .nav1o {
    display: flex;
    list-style-type: none;
  }

  .nav201 {
    display: flex;
    list-style-type: none;
    float: right;
    margin-right: 70px;
  }

  .nav21 {
    display: flex;
    padding-right: 35px;
    padding-top: 10px;
  }

  .nav21 a {
    text-decoration: none;
    color: rgb(37, 34, 34);
  }

  .nav21 a:hover {
    color: rgb(243, 49, 49);
    border: 2px solid rgb(243, 49, 49);
    padding: 2px 7px;
  }

  .nav2 {
    padding-bottom: 35px;
    background-color: #fff;
  }

  .nutrition {
    display: block;
  }

  .box3b img {
    position: relative;
    bottom: 1rem;
    display: flex;
    width: 16vh;
    align-self: flex-end;
    flex-wrap: wrap;
  }

  .end1 img {
    width: 50px;
    height: 70px;
    margin-bottom: 20px;
  }

  .end2 img:hover,
  .end2 img:focus {
    transform: translate(10px, 15%);
    transition: 2s all ease-in-out;
    transition-duration: 2s;
    transition-delay: 0.2s;
  }

  .nav201 > .nutrition img {
    display: block;
    width: 45px;
    position: absolute;
    left: 75px;
  }

  .box1 {
    background-color: rgb(211, 211, 211, 0.8);
    position: relative;
  }

  .box1 h1 {
    padding-top: 120px;
    margin-left: 4rem;
    color: #f44c06;
    width: 600px;
  }

  .small {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 35px;
  }

  .big {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 60px;

    /* line-height: 3rem; */
  }

  .first {
    border: 3px solid rgb(219, 204, 204);
    margin-left: 4rem;
    margin-top: 20px;
    display: inline-block;
  }

  .first-para {
    padding-top: 10px;
    padding-bottom: 15px;
    width: 600px;
    letter-spacing: 0.2px;
    padding-left: 15px;
    background-color: rgb(238, 236, 236);
  }

  .second {
    margin-left: 4rem;
    margin-top: 20px;
  }

  .see {
    display: none;
  }

  .second h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(68, 63, 63);
  }

  .second p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(68, 63, 63);
    margin-bottom: 30px;
  }

  .box2 {
    background-color: rgb(34, 31, 31);
  }

  h3 {
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-top: 2.5rem;
  }

  .box2 h3 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    left: 550px;
  }

  .line {
    border-color: #ed6242;
    width: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .box2ao {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    place-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-left: 3px;
    margin-right: 3px;
  }

  .box2a {
    display: flex;
    border: 1px solid rgb(71, 65, 65);
    background-color: rgb(43, 40, 40);
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1rem 0.5rem 3rem 0.5rem;
    transition: all 1s ease-out;
  }

  .box2a:hover,
  .box2a:focus {
    border: 5px solid rgb(233, 230, 230);
    animation-delay: 0.5s;
    animation-duration: 0.5s;
  }

  .box2a h2 {
    color: rgb(241, 108, 59);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
  }

  .fa-solid {
    font-size: 5vw;
  }

  .forum {
    margin-left: 15px;
  }

  .program {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 40px;
  }

  .box3b h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .box3b h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: rgb(245, 141, 104);
  }

  .box3b p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
  }

  .box3d {
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 25%;
    height: 100px;
  }

  .image:hover,
  .image:focus {
    border: 1px solid rgb(233, 230, 230);
    animation-delay: 1.5s;
    animation-duration: 2s;
    transition: all 1s ease-out;
    transform: scale(1);
    cursor: pointer;
  }

  .box3 {
    background-color: #eceaea;
  }

  .box3a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }

  .box3b {
    display: flex;
    flex-direction: row;
    gap: -1px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .card h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .card h6 {
    width: 14rem;
    font-family: 'Lato', sans-serif;
    font-weight: 23;
    font-size: 9px;
    font-style: italic;
  }

  .card p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 13px;
    width: 11rem;
    word-spacing: 0.2px;
  }

  .secondline {
    border-color: #ed6242;
    width: 70px;
    margin-left: 35rem;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .thirdline {
    width: 20px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .line4 {
    border-color: #ed6242;
    width: 30px;
    margin-left: 590px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .end {
    background-color: rgb(231, 231, 231);
  }

  .end1 {
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
    justify-content: center;
    text-align: center;
  }

  .end1 ul {
    list-style-type: none;
  }

  .end1 p {
    padding-top: 55px;
    margin-left: 40px;
    text-transform: capitalize;
  }

  .button {
    display: none;
  }

  .part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0;
    gap: 2rem;
  }

  .part2 {
    width: 80px;
    height: 80px;
    padding-bottom: 10px;
  }

  .partner {
    background-color: #272a31;
  }

  .partner h4 {
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-pro-head h3 {
    display: flex;
    flex-direction: row;
    margin-right: 70rem;
    width: 19%;
    font-weight: 500;
    font-size: 20px;
  }

  .box2a > p {
    text-align: start;
    font-size: 1rem;
    max-width: 100vw;
    height: auto;
  }

  .main-pro-head .line {
    margin-right: 2rem;
  }

  .box3b:nth-child(3),
  .box3b:nth-child(4),
  .box3b:nth-child(5),
  .box3b:nth-child(6) {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .nav1 > .nav1o {
    position: relative;
    margin-left: 42rem;
  }
}
